services:

  ####
  # TODO: MIGRATE TO WIREGUARD
  ####
  gluetun-sidecar:
    image: qmcgaw/gluetun
    container_name: gluetun-sidecar
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard 
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      
      # Use regional filtering to help PORT_FORWARD_ONLY find a server faster
      - SERVER_COUNTRIES=Netherlands,Switzerland,Sweden
      
      - DNS_ADDRESS=1.1.1.1
      - DNS_KEEP_NAMESERVER=on 
      - DOT=off
      - VPN_INTERFACE_MTU=1300 

      - VPN_PORT_FORWARDING=on  
      - PORT_FORWARD_ONLY=on 

      # Allow the Docker internal network to talk to itself
      # Add this to allow containers to talk to each other on the loopback
      - FIREWALL_OUTBOUND_SUBNETS=127.0.0.1/32,172.16.0.0/12,192.168.0.0/16

      # Explicitly allow the loopback for cross-container talk
      - FIREWALL_VPN_INPUT_PORTS=9091,7878 
    #   - VPN_SERVICE_PROVIDER=protonvpn
    #   - VPN_INTERFACE_MTU=1300 # prevents issues on OSX
    #   - HTTP_CONTROL_SERVER_ADDRESS=:8000

    #   # Wireguard
    #   - VPN_TYPE=wireguard 
    #   - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
    #   - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      
    #   # - SERVER_REGIONS=Netherlands # Optional: Choose your region
    #   # Required if you want the internal server list to update automatically
    #   # - UPDATER_PROTONVPN_USERNAME=${PROTON_USERNAME} 
    #   # - UPDATER_PROTONVPN_PASSWORD=${PROTON_PASSWORD}
    #   - DNS_ADDRESS=1.1.1.1 # Force use Cloudflare
    #   - DNS_KEEP_NAMESERVER=on 
    #   - DOT=off             # Disable DNS over TLS (speed boost)
    #   # - BLOCK_MALICIOUS=off # Stop downloading massive blocklists
    #   # port forwarding configs
      
    #   - VPN_PORT_FORWARDING=on  
    #   # - VPN_PORT_FORWARDING_PROVIDER=protonvpn
    #   - PORT_FORWARD_ONLY=on # only connect to servers that will allow port forwarding
    volumes:
      - ${GLUETUN_CONFIG_PATH}:/gluetun
      - /tmp/gluetun:/tmp/gluetun
      # - ${WIREGUARD_CONFIG_PATH}:/gluetun/wireguard/wg0.conf
    ports:
      - 8888:8888/tcp # HTTP proxy
      - ${RADARR_PORT}:${RADARR_PORT} # Example port for app behind VPN
      - ${RADARR_SSL_PORT}:${RADARR_SSL_PORT}
      - ${BUILDARR_PORT}:${BUILDARR_PORT}
      - ${PROWLARR_PORT}:${PROWLARR_PORT}
      - ${SONARR_PORT}:${SONARR_PORT}
      - ${QBIT_PORT}:${QBIT_PORT}
      - ${QBIT_LISTEN_PORT}:${QBIT_LISTEN_PORT}
      - ${QBIT_LISTEN_PORT}:${QBIT_LISTEN_PORT}/udp
      - ${TORRENT_PORT}:${TORRENT_PORT}
      - ${SOULSEEK_LISTEN_PORT}:${SOULSEEK_LISTEN_PORT}
      - ${SOULSEEK_OBFUSCATED_PORT}:${SOULSEEK_OBFUSCATED_PORT}
      - ${TRANSMISSION_UI_PORT}:${TRANSMISSION_UI_PORT}
      - ${TRANSMISSION_PEER_PORT}:${TRANSMISSION_PEER_PORT}/udp
    restart: always
    # # healthcheck:
    # #   test: ["CMD", "client", "status"]
    # #   interval: 10s
    # #   timeout: 5s
    # #   retries: 3
    # #   start_period: 10s  

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${RADARR_PORT}/api/v3/system/status?apikey=${RADARR_API_KEY}"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 10s
    environment:
      - PUID=${PUID}
      - PGID=3000
      - TZ=Etc/UTC
    volumes:
      - ${RADARR_CONFIG_PATH}:/config
      - ${MOVIES_PATH}:/movies #optional
      - ${DOWNLOADS_PATH}:/downloads #optional
    restart: unless-stopped
    network_mode: "service:gluetun-sidecar" # Routes all traffic through sidecar
    depends_on:
      gluetun-sidecar:
        condition: service_healthy 
      transmission:
        condition: service_started # hack fix , whatever

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: "service:gluetun-sidecar"
    # healthcheck:
    #   # We use the system status API to verify the app is fully booted
    #   # test: ["CMD-SHELL", "curl -s http://localhost:9696/api/v3/system/status?apikey=4A4952C7D75CFDDF0D1AEB1363EE461E | grep -q 'version'"]
    #   # test: ["CMD-SHELL", "curl -s http://localhost:${PROWLARR_PORT}/api/v3/system/status?apikey=${PROWLARR_API_KEY} | grep -q 'version'"]
    #   interval: 20s
    #   timeout: 10s
    #   retries: 5
    #   start_period: 10s
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=America/Los_Angeles
      - PROWLARR_PORT=${PROWLARR_PORT}
      - PROWLARR_API_KEY=${PROWLARR_API_KEY}
    volumes:
      - ${PROWLARR_CONFIG_PATH}:/config
    restart: unless-stopped
    depends_on:
      gluetun-sidecar:
        condition: service_healthy 

  flaresolverr:
    image: flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    network_mode: "service:gluetun-sidecar"
    environment:
      - LOG_LEVEL=info
      - TZ=America/Los_Angeles
    restart: unless-stopped
    depends_on:
      - gluetun-sidecar

  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:latest
    container_name: recyclarr
    network_mode: "service:gluetun-sidecar"
    # Remove 'user: 1000:1000' for macOS; use env vars instead
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=America/Los_Angeles
    volumes:
      - ${RECYCLARR_CONFIG_PATH}:/config
    depends_on:
      - radarr

  # sonarr:
  #   image: lscr.io/linuxserver/sonarr:latest
  #   container_name: sonarr
  #   network_mode: "service:gluetun-sidecar"
  #   environment:
  #     - PUID=${PUID}
  #     - PGID=${PGID}
  #     - TZ=America/Los_Angeles
  #   volumes:
  #     - ${SONARR_CONFIG_PATH}:/config
  #     - ${TV_PATH}:/tv
  #     - ${DOWNLOADS_PATH}:/downloads
  #   restart: unless-stopped
  #   depends_on:
  #     - gluetun-sidecar
  #     - transmission

  transmission:
    image: linuxserver/transmission:latest
    container_name: transmission
    network_mode: "service:gluetun-sidecar"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:${TRANSMISSION_UI_PORT}/transmission/web/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    environment:
      - PUID=${PUID} # Replace with your PUID
      - PGID=${PGID} # Replace with your PGID
      - TZ=America/Los_Angeles # Replace with your timezone
      # - TRANSMISSION_WEB_HOME=/
      - USER=${TRANSMISSION_USERNAME} # Optional: Set a username for the web UI
      - PASS=${TRANSMISSION_PASSWORD} # Optional: Set a password for the web UI
      - TRANSMISSION_RPC_WHITELIST_ENABLED=false 
      - TRANSMISSION_RPC_HOST_WHITELIST_ENABLED=false
      - DOCKER_MODS=michaukrieg/docker-mods:transmission-gluetun-port-update
      # In Transmission environment variables
      - TRANSMISSION_RPC_BIND_ADDRESS=0.0.0.0

      # - TRANSMISSION_WEB_HOME=/usr/share/transmission/web
    volumes:
      - ${TRANSMISSION_CONFIG_PATH}:/config # Configuration files go here
      - ${DOWNLOADS_PATH}:/downloads # Main downloads folder, shared with *Arr apps
      - ${RADARR_PATH}/watch:/watch
      # - ./watch:/watch # Optional: Folder to automatically add torrents from
    depends_on:
      gluetun-sidecar:
        condition: service_healthy 
    restart: unless-stopped

  # buildarr:
  #     image: callum027/buildarr:latest
  #     container_name: buildarr
  #     network_mode: "service:gluetun-sidecar"
  #     environment:
  #       #- PUID=0
  #       #- PGID=0
  #       - TRANSMISSION_USERNAME=${TRANSMISSION_USERNAME}
  #       - TRANSMISSION_PASSWORD=${TRANSMISSION_PASSWORD}
  #       - RADARR_API_KEY=${RADARR_API_KEY} 
  #       - RADARR_PORT=${RADARR_PORT}
  #     volumes:
  #       - ./buildarr:/config
  #     depends_on:
  #       prowlarr:
  #         condition: service_started # hack fix- suitable?
  #       radarr:
  #         condition: service_healthy
  #       transmission:
  #         condition: service_started # still hack fix- suitable?