services:

  ####
  # TODO: MIGRATE TO WIREGUARD
  ####
  gluetun-sidecar:
    image: qmcgaw/gluetun
    container_name: gluetun-sidecar
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=openvpn
      - HTTP_CONTROL_SERVER_ADDRESS=:8000
      - OPENVPN_USER=${OPENVPN_USERNAME} # Add +nr to the end for port forwarding
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      # - SERVER_REGIONS=Netherlands # Optional: Choose your region
      # Required if you want the internal server list to update automatically
      - UPDATER_PROTONVPN_USERNAME=${PROTON_USERNAME}
      - UPDATER_PROTONVPN_PASSWORD=${PROTON_PASSWORD}
      - DNS_ADDRESS=1.1.1.1 # Force use Cloudflare
      - DNS_KEEP_NAMESERVER=on 
      - DOT=off             # Disable DNS over TLS (speed boost)
      - BLOCK_MALICIOUS=off # Stop downloading massive blocklists
      - PORT_FORWARD_ONLY=on # only connect to servers that will allow port forwarding
    volumes:
      - ${GLUETUN_CONFIG_PATH}:/gluetun
      - /tmp/gluetun:/tmp/gluetun
      # - ${WIREGUARD_CONFIG_PATH}:/gluetun/wireguard/wg0.conf
    ports:
      - 8888:8888/tcp # HTTP proxy
      - ${RADAAR_PORT}:${RADAAR_PORT} # Example port for app behind VPN
      - ${RADAAR_SSL_PORT}:${RADAAR_SSL_PORT}
      - ${BUILDAAR_PORT}:${BUILDAAR_PORT}
      - ${SONAAR_PORT}:${SONAAR_PORT}
      - ${QBIT_PORT}:${QBIT_PORT}
      - ${QBIT_LISTEN_PORT}:${QBIT_LISTEN_PORT}
      - ${QBIT_LISTEN_PORT}:${QBIT_LISTEN_PORT}/udp
      - ${TORRENT_PORT}:${TORRENT_PORT}
      - ${SOULSEEK_LISTEN_PORT}:${SOULSEEK_LISTEN_PORT}
      - ${SOULSEEK_OBFUSCATED_PORT}:${SOULSEEK_OBFUSCATED_PORT}
      - ${TRANSMISSION_UI_PORT}:${TRANSMISSION_UI_PORT}
      - ${TRANSMISSION_PEER_PORT}:${TRANSMISSION_PEER_PORT}/udp
    restart: always
    # # healthcheck:
    # #   test: ["CMD", "client", "status"]
    # #   interval: 10s
    # #   timeout: 5s
    # #   retries: 3
    # #   start_period: 10s  

  ##
  # Synchronizes the port 
  ##
  # port-sync:
  #   image: ghcr.io/p-stark/gluetun-transmission-port-update:latest
  #   container_name: port-sync
  #   network_mode: "service:gluetun-sidecar"
  #   environment:
  #     - TRANSMISSION_HOST=localhost
  #     - TRANSMISSION_PORT=9091
  #     - TRANSMISSION_USERNAME=${TRANSMISSION_USERNAME}
  #     - TRANSMISSION_PASSWORD=${TRANSMISSION_PASSWORD}
  #     - GLUETUN_CONTROL_HOST=localhost
  #     - GLUETUN_CONTROL_PORT=8000
  #   restart: always
  #   depends_on:
  #     - gluetun-sidecar
  #     - transmission


  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=3000
      - TZ=Etc/UTC
    volumes:
      - ${RADAAR_CONFIG_PATH}:/config
      - ${MOVIES_PATH}:/movies #optional
      - ${DOWNLOADS_PATH}:/downloads #optional
    restart: unless-stopped
    network_mode: "service:gluetun-sidecar" # Routes all traffic through sidecar
    depends_on:
      gluetun-sidecar:
        condition: service_healthy 

  transmission:
    image: linuxserver/transmission:latest
    container_name: transmission
    network_mode: "service:gluetun-sidecar"
    environment:
      - PUID=${PUID} # Replace with your PUID
      - PGID=${PGID} # Replace with your PGID
      - TZ=America/Los_Angeles # Replace with your timezone
      # - TRANSMISSION_WEB_HOME=/
      - USER=${TRANSMISSION_USERNAME} # Optional: Set a username for the web UI
      - PASS=${TRANSMISSION_PASSWORD} # Optional: Set a password for the web UI
      - TRANSMISSION_RPC_WHITELIST_ENABLED=false 
      - TRANSMISSION_RPC_HOST_WHITELIST_ENABLED=false
      - DOCKER_MODS=michaukrieg/docker-mods:transmission-gluetun-port-update

      # - TRANSMISSION_WEB_HOME=/usr/share/transmission/web
    volumes:
      - ${TRANSMISSION_CONFIG_PATH}:/config # Configuration files go here
      - ${DOWNLOADS_PATH}:/downloads # Main downloads folder, shared with *Arr apps
      - ${RADAAR_PATH}/watch:/watch
      # - ./watch:/watch # Optional: Folder to automatically add torrents from
    depends_on:
      gluetun-sidecar:
        condition: service_healthy 
    restart: unless-stopped

  buildarr:
      image: callum027/buildarr:latest
      container_name: buildarr
      network_mode: "service:gluetun-sidecar"
      environment:
        #- PUID=0
        #- PGID=0
        - TRANSMISSION_USERNAME=${TRANSMISSION_USERNAME}
        - TRANSMISSION_PASSWORD=${TRANSMISSION_PASSWORD}
        - RADARR_API_KEY=${RADARR_API_KEY} 
        - RADAAR_PORT=${RADAAR_PORT}
      volumes:
        - ./buildarr:/config
      depends_on:
        radarr:
          condition: service_started 
        transmission:
          condition: service_started